@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="border">
            <div class="bg-primary">
                @RsLogin.Login
            </div>
            <div class="p-3">
                <form action="~/Home/Index" method="POST">
                    <div class="form-group">
                        <label for="user">@RsLogin.LblUser</label>
                        <input id="user" type="text" class="form-control" name="User" required />
                    </div>
                    <div class="form-group">
                        <label for="pwd">@RsLogin.LblPassword</label>
                        <input id="pwd" type="password" class="form-control" name="Pwd" required />
                    </div>
                    <div class="form-group text-right">
                        <button class="btn btn-primary">@RsShared.SignIn</button>
                    </div>
                    @if (ViewBag.Error != null)
                    {
                        <div class="form-group">
                            <label class="error">@ViewBag.Error</label>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>
