@{
    ViewBag.Title = "Medicamentos";
    Usuario usuario = ViewBag.Usuario;
}

<div class="row justify-content-center">
    <div class="jumbotron col-xl-4 col-lg-4 col-md-6 col-sm-10 col-xs-10 jumbotron-aura">
        @using (@Html.BeginForm("Medicamentos", "Panel", FormMethod.Post, new { @class = "form-group" }))
        {
            @Html.AntiForgeryToken()

            <input type="hidden" name="pacienteId" value="@usuario.Id" required />

            <div class="form-group">
                <label for="nombre">Nombre del medicamento:</label>
                <input id="nombre" type="text" class="form-control" name="Nombre" required />
            </div>

            <div class="form-group">
                <label for="periodicidadhoras">¿Cada cuando debes tomarlo?:</label>
                <input id="periodicidadhoras" type="text" class="form-control" name="PeriodicidadHoras" placeholder="Valor en horas" required />
            </div>

            if (ViewBag.ErrorFormulario != null)
            {
                <p>@ViewBag.ErrorFormulario</p>
            }
            <input type="submit" value="Guardar" class="btn color-aura-dark" />
        }
    </div>
</div>
<div>Aquí debajo veras los medicamentos registrados...</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="jumbotron-aura-no-border col-12 text-center px-0 mx-0">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="color-aura-dark text-white">
                            <td>Nombre</td>
                            <td>Periodo en horas</td>
                            <td>Última vez</td>
                            <td>Eliminar recordatorio</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Medicamento m in usuario.Medicamento)
                        {
                            if (m.Activo == true)
                            {
                                <tr>
                                    <td>@m.Nombre</td>
                                    <td>@m.PeriodicidadHoras</td>
                                    <td>@m.UltimaVez</td>
                                    <td><a href="@Url.Action("DesactivarRecordatorioMedicamento/" + m.Id, "Panel")">Click</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


