
@{
    ViewBag.Title = "Personas";
    Usuario user = ViewBag.Usuario;
}

@if (user.Paciente == true)
{

    <div class="row justify-content-center">
        <div class="jumbotron col-xl-4 col-lg-4 col-md-6 col-sm-10 col-xs-10 jumbotron-aura">
            <form id="formPersonasEnAlerta" action="~/Panel/Personas" method="POST">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="email">Ingrese E-mail de su tutor:</label>
                    <input id="email" type="email" class="form-control" name="Email" required />
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Agregar" class="btn btn-primary" />
                </div>
            </form>
            <div class="text-center">@ViewBag.ResultadoBusqueda</div>
        </div>
    </div>
}


@if ((user.Paciente == true && user.Usuario1.Count > 0) || user.Paciente == false && user.Usuario2.Count > 0)
{
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div id="ContenedorJumbotronDatatable" class="jumbotron-aura-no-border col-12 text-center px-0 mx-0">
                @if (user.Paciente == true)
                {
                    <div>Estas personas recibiran alertas cuando tengas un episodio...</div>
                }
                @if (user.Paciente == false)
                {
                    <div>Estas personas te enviaran alertas cuando tengan un episodio...</div>
                }
                <div class="table-responsive">
                    <table class="table table-bordered" id="TablaConDatatable">
                        <thead>
                            <tr class="color-aura-dark text-white">
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (user.Paciente == true)
                            {
                                foreach (Usuario u in user.Usuario1)
                                {
                                    <tr>
                                        <td>@u.Nombre</td>
                                        <td>@u.Apellido</td>
                                        <td>@u.Email</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                foreach (Usuario u in user.Usuario2)
                                {
                                    <tr>
                                        <td>@u.Nombre</td>
                                        <td>@u.Apellido</td>
                                        <td>@u.Email</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div id="ContenedorJumbotronDatatable" class="jumbotron-aura-no-border col-12 text-center px-0 mx-0">
                @if (user.Paciente == true)
                {
                    <div>Estas personas recibiran alertas cuando tengas un episodio...</div>
                }
                @if (user.Paciente == false)
                {
                    <div>Estas personas te enviaran alertas cuando tengan un episodio...</div>
                }                
            </div>
        </div>
    </div>
}